<!-- language-flags.component.html -->
<div class="flags flex space-x-2">
    <div class="lang-icon lang-icon-en" (click)="changeLanguage('en')">
        <div class="lang-icon lang-icon-en lang-icon-shadow"></div>
    </div>

    <div class="lang-icon lang-icon-it" (click)="changeLanguage('it')">
        <div class="lang-icon lang-icon-it lang-icon-shadow"></div>
    </div>

    <div class="lang-icon lang-icon-mo" (click)="changeLanguage('ro')">
        <div class="lang-icon lang-icon-mo lang-icon-shadow"></div>
    </div>

    <div class="lang-icon lang-icon-es-es" (click)="changeLanguage('es')">
        <div class="lang-icon lang-icon-es lang-icon-shadow"></div>
    </div>

    <div class="lang-icon lang-icon-gl" (click)="changeLanguage('gl')">
        <div class="lang-icon lang-icon-gl lang-icon-shadow"></div>
    </div>

</div>