<div class="grid justify-center align-center main">
    <div class="element grid grid-cols-3">
        <app-display3d-v1 resource="cappellino" [zoom]="37"></app-display3d-v1>
        <div class="col-span-2 text">
            <div class="title">{{ 'title' | translate }}</div>
            {{ 'welcomeMessage' | translate }}
        </div>
    </div>
    <hr>
    <div class="element grid grid-cols-3">
        <div class="col-span-2 text">
            <div class="title">{{ 'dedicationAndApproachability.heading' | translate }}</div>
            {{ 'dedicationAndApproachability.content' | translate }}
        </div>
        <app-display3d-v1 resource="cargo pants" class="pants" [zoom]="100" [y]="0.5" [height]="475" [width]="420"></app-display3d-v1>
    </div>
    <hr>
    <div class="element grid grid-cols-3">
        <app-display3d-v1 resource="giacca" class="giacca" [zoom]="50" [rotation]="-0.9"></app-display3d-v1>
        <div class="col-span-2 text">
            <div class="title">{{ 'detailAndPerfection.heading' | translate }}</div>
            {{ 'detailAndPerfection.content' | translate }}
        </div>
    </div>
    <hr>
    <div class="element grid grid-cols-4" style="margin: 4rem">

        <div class="col-span-2 text">
            <div class="title">{{ 'professionalism.heading' | translate }}</div>
            {{ 'professionalism.content' | translate }}
        </div>

        <div class="col-span-2 grid grid-cols-3">
            <div class="logo px-2">
                <img src="assets/brand-logos/sunnei.png">
            </div>
            <div class="logo pl-12">
                <h2 style="font-weight: bold; font-size: 25px;">BRAND</h2>
            </div>
            <div class="logo pl-12">
                <h2 style="font-weight: bold; font-size: 25px;">BRAND</h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="element grid m-10">
        <div class="text" style="text-align: center; font-size: 22px;">
            {{ 'joinJourney' | translate }}
            <br><br>{{ 'learnMoreButton' | translate }}
        </div>
    </div>
    <div class="element">
        <div class="text flex justify-center m-6">
            <div class="title">{{ 'footer-button' | translate }}</div>
        </div>
        <app-form></app-form>
    </div>
</div>
<app-footer></app-footer>