<div class="w-full h-screen flex align-center justify-center">
    <div class="grid grid-cols-2 w-full h-screen justify-center align-center">
        <div class="w-full h-screen flex main justify-end" style="background-color: white;">
            <div style="cursor: pointer;" routerLink="v1">

                <h3 class="w-full text-center text" style="color: black;">v1</h3>
                <app-display3d-v1 class="w-1/2" resource="cappellino" [zoom]="38"></app-display3d-v1>
            </div>
        </div>

        <div class="w-full h-screen flex main justify-start">
            <div style="cursor: pointer;" routerLink="v2">
                <h3 class="w-full text-center text" style="color: white;">v2</h3>
                <app-display3d-v2 class="w-1/2" resource="cappellino" [zoom]="38"></app-display3d-v2>
            </div>

        </div>
    </div>
</div>