<div class="w-full h-screen flex align-center justify-center">
    <div class="grid grid-cols-2 w-full h-screen justify-center align-center">

        <div class="w-full h-screen flex main justify-start">
            <div style="cursor: pointer;" routerLink="v0">
                <h3 class="w-full text-center text">v0</h3>

            </div>

        </div>

        <div class="w-full h-screen flex main justify-end">
            <div style="cursor: pointer;" routerLink="v1">

                <h3 class="w-full text-center text">v1</h3>

            </div>
        </div>


    </div>
</div>