<div class="flex footer-end flex-nowrap">
    <div class="flex-none leading-2">
        <p>© 2023 Irina Luta. {{ 'copyright' | translate }}</p>
        <p style="font-size: 12px;">Website by <a href="https://www.linkedin.com/in/miguel-bautista-perez/" target="_blank">Miguel Bautista</a></p>
    </div>
    <div class="flex-auto pl-20 flex justify-center">

    </div>
    <div class="flex-auto flex justify-end mr-10">

    </div>
    <div>


    </div>
</div>
<div class="flex footer flex-nowrap">
    <div class="flex-none leading-2">

    </div>
    <div class="flex-auto pl-20 flex justify-center">

    </div>
    <div class="flex-auto flex justify-end mr-10">

    </div>
    <div>
        <app-language-flags></app-language-flags>

    </div>
</div>