<div class="grid grid-rows-3 justify-center align-center main">
    <div class="element grid grid-cols-3">
        <app-display3d resource="giacca" [zoom]="115"></app-display3d>
        <div class="col-span-2 text">
            <div class="title">{{ 'title' | translate }}</div>
            {{ 'welcomeMessage' | translate }}
        </div>
    </div>
    <div class="element grid grid-cols-3">
        <div class="col-span-2 text">
            <div class="title">{{ 'dedicationAndApproachability.heading' | translate }}</div>
            {{ 'dedicationAndApproachability.content' | translate }}
        </div>
        <app-display3d resource="cappellino" [zoom]="38"></app-display3d>
    </div>
    <div class="element grid grid-cols-3">
        <app-display3d resource="giacca" [zoom]="50"></app-display3d>
        <div class="col-span-2 text">
            <div class="title">{{ 'detailAndPerfection.heading' | translate }}</div>
            {{ 'detailAndPerfection.content' | translate }}
        </div>
    </div>
    <br><br><br>
    <div class="element grid grid-cols-4">

        <div class="col-span-2 text">
            <div class="title">{{ 'professionalism.heading' | translate }}</div>
            {{ 'professionalism.content' | translate }}
        </div>

        <div class="col-span-2 grid grid-cols-3">
            <div class="logo p-2">
                <img src="assets/brand-logos/sunnei.png">
            </div>
            <div class="logo p-8">
                <img src="assets/brand-logos/lv.png">
            </div>
            <div class="logo p-5">
                <img src="assets/brand-logos/gucci.png">
            </div>
        </div>
    </div>
    <br><br>
    <div class="element grid">
        <div class="text" style="text-align: center; font-size: 22px;">
            {{ 'joinJourney' | translate }}
            <br><br>{{ 'learnMoreButton' | translate }}
        </div>
    </div>
    <br><br><br>
    <div class="element">
        <div class="text flex justify-center mb-6">
            <div class="title">{{ 'footer-button' | translate }}</div>
        </div>
        <app-form></app-form>
    </div>
</div>