<div class="grid grid-rows-3 justify-center align-center main">
    <div class="element grid grid-cols-3">
        <app-display3d></app-display3d>
        <div class="col-span-2 text">
            <div class="title">Dale vida a tus ideas</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quo, quia. Quisquam, voluptatibus. Quo, quia. Quisquam, voluptatibus. Quo, quia.
        </div>
    </div>
    <div class="element grid grid-cols-3">
        <div class="col-span-2 text">
            <div class="title">Dedicación y cercanía</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quo, quia. Quisquam, voluptatibus. Quo, quia. Quisquam, voluptatibus. Quo, quia.
        </div>
        <app-display3d></app-display3d>
    </div>
    <div class="element grid grid-cols-3">
        <app-display3d></app-display3d>
        <div class="col-span-2 text">
            <div class="title">Detalle y perfección</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quo, quia. Quisquam, voluptatibus. Quo, quia. Quisquam, voluptatibus. Quo, quia.
        </div>
    </div>
</div>